body {
    background-image: url('./img/fondoHome.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajusta según tus necesidades */
    margin: 0;
    padding: 0;
  }  

  .text-box {
    background-color: white;
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px; /* Espacio interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */
    max-width: 600px; /* Ancho máximo del cuadro */
    margin: 20px auto; /* Centrar el cuadro horizontalmente */
    text-align: center; /* Centrar el texto */
  }

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    margin-left: 0%;
    color: navy;
  }
  
  h2{
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    margin-left: 0%;
    color: negro;
  }
  
  h3{
    font-family: 'cambria', sans-serif;
    font-size: medium;
    font-weight: lighter;
    color: black;
    margin-left: 5%;
  }
  
  p {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: black;
    margin-left: 5%;
  } 
  
  .confirmation-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Cambria, serif;
    font-size: small;
    color: #000;
  }
  
  .confirmation-table th {
    background-color: #f0f0f0; /* Color de fondo para los encabezados */
    color: #000; /* Color de letra negro */
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ccc;
  }
  
  .confirmation-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  